.home {
  &_active_true{
    color: red;
  }
  display: grid;
  grid-template-areas:
          "hot vid nws sig"
          "art ico nws twt";
  grid-template-columns: 46rem 22.5rem 30rem 22.5rem;
  grid-template-rows: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  @include media ($desktop-sm) {
    grid-template-areas:
            "hot nws sig"
            "vid nws twt"
            "art ico twt";
    grid-template-columns: 2.5fr 2fr 1.5fr;
  }
  @include media ($tablet) {
    grid-template-columns: 1.5fr 2fr 1fr;
  }
  @include media ($mobile) {
    grid-template-areas:
            "hot"
            "vid"
            "nws"
            "art"
            "sig"
            "twt"
            "ico";
    grid-template-columns: 1fr;
  }


  &__hot {
    height: 31.5rem;
    grid-area: hot;
    align-self: start;
  }

  &__articles {
    grid-area: art;
    //background-color: transparentize(blue,.5);
  }

  &__video {
    grid-area: vid;
    //background-color: transparentize(red,.5);
  }

  &__hot-ico {
    grid-area: ico;
    background-color: transparentize(green,.5);
  }
  &__news {
    grid-area: nws;
    //background-color: transparentize(orange,.5);
  }
  &__signals {
    height: 31.5rem;
    grid-area: sig;
    background-color: transparentize(violet,.5);
  }
  &__tweets {
    grid-area: twt;
    background-color: transparentize(maroon,.5);
  }
}