.home {
  &_active_true{
    color: red;
  }
  display: grid;
  grid-template-columns: 40% 20% 25% 15%;
  grid-template-areas:
          "hot vid nws sig"
          "art vid nws sig"
          "art ico nws sig"
          "art ico nws twt";
  @include media ($desktop-sm) {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
            "hot nws sig"
            "vid nws sig"
            "art nws sig"
            "art nws twt"
            "art ico twt";
  }
  @include media ($tablet) {
    grid-template-columns: 25% 500% 25%;
    grid-template-areas:
            "hot nws sig"
            "vid nws sig"
            "art nws twt"
            "art ico twt";
  }
  @include media ($mobile) {
    grid-template-areas:
            "hot"
            "vid"
            "nws"
            "art"
            "sig"
            "twt"
            "ico";
    grid-template-columns: 1fr;
  }


  &__hot {
    height: 31.5rem;
    grid-area: hot;
    align-self: start;
  }

  &__articles {
    grid-area: art;
    //background-color: transparentize(blue,.5);
  }

  &__video {
    grid-area: vid;
    //background-color: transparentize(red,.5);
  }

  &__hot-ico {
    grid-area: ico;
    background-color: transparentize(green,.5);
  }
  &__news {
    grid-area: nws;
    //background-color: transparentize(orange,.5);
  }
  &__signals {
    height: 31.5rem;
    grid-area: sig;
    background-color: transparentize(violet,.5);
  }
  &__tweets {
    height: 500px;
    grid-area: twt;
    background-color: transparentize(maroon,.5);
  }
}