.t-news {
  display: flex;
  @include media ($mobile) {
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    margin-right: 4rem;
    flex: 1 1 auto;
    @include media ($desktop-sm) {
      margin-right: 1.5rem;
    }
    @include media ($tablet) {
      margin-right: 0;
    }
  }

  &__sidebar {
    flex: 0 0 28rem;
    background-color: transparentize(red, .5);
    @include media ($tablet) {
      display: none;
    }
  }
}