.m-file-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;

  &__preview {
    cursor: pointer;
    width: 82px;
    height: 82px;
    margin-right: 35px;
  }

  &__input {
    display: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid $color-yellow-dark;
    text-transform: uppercase;
    border-radius: 22.5px;
    padding: 10px 20px 8px;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-right: 25px;
  }



  &__icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 20px;
    height: 15px;
    left: -35px;
  }

  &__text {
    font-weight: 300;
    color: $color-blue-dark;
    font-size: 18px;
    line-height: 22px;
  }

  @include media ($tablet) {


    &__icon {
      width: 16px;
      height: 12px;
      left: -28px;
    }


    &__text {
      font-size: 14px;
      line-height: 17px;

    }
  }
}
