.m-file-input {
  &__input {
    display: inline-flex;
    align-items: center;
    position: relative;
  }

  &__preview {
    cursor: pointer;
    width: 16rem;
    height: 8rem;
    margin-right: 35px;
    object-fit: cover;
  }

  &__native-input {
    display: none;
  }

  &__error {
    display: block;
    margin-top: .5rem;
    font-size: 1.2rem;
    color: $color-red;
  }
}
