@import "common/settings/variables";
@import "common/utils";

.a-input-text {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 30px;
  cursor: text;
  border-bottom: 1px solid #eee;
  transition: border-bottom-color 100ms ease-in;
  $this: &;
  &_focused_true {
    border-bottom-color: $color-black;
  }
  &_error_true {
    border-bottom-color: $color-error;
    #{$this}__input {
      color: $color-error;
    }
  }

  &__fake-placeholder {
    position: relative;
    width: 300px;
    height: 30px;
    color: $color-gray;
    text-align: center;
    font-size: 16px;
    cursor: default;
    user-select: none;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 18px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1px 0;
    font-size: 14px;
    line-height: 1;
    color: #000;
    border-width: 0;
    outline: none;
    background: transparent;
  }

  &__loader {
    display: block;
    position: absolute;
    bottom: -1px;
    background: $color-gray;
    height: 1px;
    animation-name: waiting;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,0,1,1);
  }
}

@keyframes waiting {
  0% {
    left: 0;
    width: 50px;
    opacity: 0;
  }
  50% {
    width: 100px;
    opacity: 1;
    left: calc(100% - 100px);
  }

  100% {
    width: 50px;
    opacity: 0;
    left: calc(100% - 50px);
  }
}
