.main-layout-header {
  height: 250px;
  background-color: #f2c601;
  background-image: url('/static/img/background.svg');
  background-repeat: no-repeat;
  background-position: right;
  @include media ($mobile) {
    background-image: $background-gradient;
  }
}