.t-video {
  display: flex;
  @include media ($mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  &__content {
    margin-right: 4rem;
    flex: 1 1 auto;
    @include media ($desktop-sm) {
      margin-right: 1.5rem;
    }
    @include media ($tablet) {
      margin-right: 0;
    }
  }

  &__sidebar {
    flex: 0 0 28rem;
    background-color: transparentize(red, .5);
    @include media ($desktop-sm) {
      flex: 0 0 26rem;
    }
    @include media ($tablet) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    @include media ($mobile) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    @include media ($mobile) {
      display: block;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__label, &__author {
    margin-right: 1.5rem;
  }

  &__label {
    @include media ($mobile) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &__author {
    font-size: 1.6rem;
    color: $color-blue-dark;
  }

  &__date {
    font-size: 1.6rem;
    color: $color-grey-dark;
  }

  &__image, &__article, &__share {
    margin-bottom: 3rem;
  }

  &__article, &__share {
    padding: 0 2rem;
  }


  &__video {
    color: $color-gray-text;
    font-size: 1.8rem;
    line-height: 1.2;
    height: 40rem;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    padding-top: 56.25%;

    &-player{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }

  &__share {
    margin-top: 2rem;
    text-transform: uppercase;
    color: $color-blue-dark;
    font-weight: bold;
  }


}