@import "common/settings/variables";
@import "common/utils";

.a-link {
  display: inline;
  color: $color-link;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration .3s linear;
  &:hover {
    text-decoration: underline;
  }
  &_disabled_true {
    opacity: .3;
    pointer-events: none;
  }
}