.main-layout-currency {
  display: flex;
  &__item {
    &:nth-child(1) {
      margin-right: 5rem;
    }
    &:nth-child(2) {
      padding: 0 5rem;
      border: solid #feed00;
      border-width: 0 .2rem;
    }
    &:nth-child(3) {
      margin-left: 5rem;
    }
  }
}