.admin-layout{
  display: grid;

  grid-template-rows: 3rem auto 1fr 2.5rem;
  height: 100vh;
  &__nav{
    padding: 0 2rem;
    background-color: $color-yellow-dark;
  }
  &__header, &__footer{
    background-image: $background-gradient;
    display: flex;
    align-items: center;
    text-align: center;
  }
}