@import "common/settings/variables";
@import "common/utils";

.a-h {
  &_type {
    &_level1 {
      margin: 0.67em 0;
      font-size: 32px;
      font-weight: 200;
      b {
        font-weight: 400;
      }
    }
    &_level2 {
      margin: 0.83em 0;
      font-size: 24px;
      font-weight: 400;
    }
    &_level3 {
      margin: 1em 0;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
