.o-video {

  &__items-grid {
    height: 100%;
    @include media ($desktop-sm) {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto auto;
    }
    @include media ($tablet) {
      grid-template-columns: auto;
    }
  }

  &__item {
    border-bottom: $border-underline;
    cursor: pointer;
    &:not(:nth-last-child(1)) {
      margin-bottom: 1rem;
      @include media ($desktop-sm) {
        margin-bottom: 0;
      }
    }
    &-img {
      position: relative;
      margin-bottom: 1rem;
      min-height: 1.2rem;
      width: 100%;

      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
      &::after {
        display: block;
        content: ' ';
        background-image: url('/static/img/play.svg');
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: 50%;
        left: 50%;
        margin-top: -4rem;
        margin-left: -4rem;
      }
    }
    &-title {
      padding: 0 1rem;
    }
  }
}