.a-btn {
  $this: &;
  position: relative;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  color: $color-blue-dark;

  &_theme {
    &_filled {
      border-radius: .5rem;
      text-align: center;
      font-weight: bold;
      transition: box-shadow .3s, background-color .3s linear;
    }
    &_filled#{$this}_color {
      &_yellow, &_gray {
        &:hover {
          box-shadow: 0 6px 10px 0 transparentize($color-yellow-dark, .6);
        }
      }
      &_yellow {
        background-color: $color-yellow-dark;
      }
      &_gray {
        background-color: $color-grey-middle;
        &:hover {
          background-color: $color-yellow-dark;
        }
      }
      &_red {
        color: $color-white;
        background-color: $color-red;
      }
    }
    &_filled#{$this}_size {
      &_sm {
        padding: .5rem 1.2rem;
        font-size: 1.2rem;
      }
      &_md {
        padding: .5rem 2rem;
        font-size: 1.4rem;
      }
      &_lg {
        padding: .7rem 2.5rem;
        font-size: 1.6rem;
      }
    }
  }
}