.o-admin-news-item {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: .2rem solid $color-grey-middle;
  &__date, &__title {
    font-size: 1.3rem;
    color: $color-blue-dark;
  }
  &__date {
    margin-right: 4rem;
  }

  &__title {
    margin-right: 6rem;
    line-height: 1.08;
  }

  &__edit-btn {
    margin-right: 15px;
  }
}