.o-news {
  &__title, &__label, &__item {
    margin-bottom: 1rem;
  }

  &__item {
    display: block;
    position: relative;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    color: #02328c;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: #f2e205;
    }

  }
}