.o-news {
  &__title, &__label, &__item {
    margin-bottom: 1rem;
  }

  &__item {
    padding: .5rem 1.5rem;
    display: block;
    position: relative;
    font-size: 1.4rem;
    color: $color-blue-dark;
    transition: box-shadow .3s linear;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: .5rem;
      width: .2rem;
      height: 80%;
      transform: translateY(-50%);
      background-color: $color-yellow-dark;
    }
    &:hover {
      text-decoration: none;
      border-radius: 5px;
      background-color: $color-white;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    }

  }
}