

.m-nav-menu-item {
  $this: &;

  color: $color-blue-dark;
  height: 100%;
  display: inline-block;
  text-transform: uppercase;
  user-select: none;
  font-weight: normal;
  @include media ($tablet) {
    padding: 22px 9px;
  }

  &_type{
    &_admin {
      @include background-color-mix($color-green-light);

      padding: 1rem 1rem;
    }

    &_normal {
      @include background-color-mix($color-yellow-dark);
      &#{$this}_active_true {
        background-color: lighten($color-yellow-dark, 10%);
      }
      padding: 1.7rem 1rem;
    }
  }
}
