//ELEMENTS DIMENSIONS
$header-height: 50px;
$menu-width: 180px;

//SCREEN DIMENSIONS
$w-desktop-sm: 1279px;
$w-tablet: 1023px;
$w-mobile: 780px;
//$w-mobile-sm: 600px;

// MEDIA QUERIES
$desktop-sm: "max-width: #{$w-desktop-sm}";
$tablet: "max-width: #{$w-tablet}";
$mobile: "max-width: #{$w-mobile}";
//$mobile-sm: "max-width: #{$w-mobile-sm}";

//COLORS
$color-white: #ffffff;
$color-yellow-dark: #f2e205;
$color-yellow-light: #FFF025;
$color-yellow-extralight: #fff454;

$color-blue-dark: #02328c;
$color-blue-light: #0042be;
$color-red: #f25810;

$color-grey-light: #f6f6f6;
$color-grey-middle: #cdcdcd;
$color-grey-dark: #9B9B9B;

$shadow-main: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$background-gradient: linear-gradient(to right, #f2c601, #feed00);

//NEW FONT STACKS
$font-Sans-Bold: OpenSans-Bold, sans-serif;
$font-Sans-SemiBold: OpenSans-SemiBold, sans-serif;
$font-Sans-Light: OpenSans-Light, sans-serif;