.a-container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  &_padding {
    &_wide {
      padding: 2rem 4rem;
    }
    &_thin {
      padding: 1rem 2rem;
      @include media ($tablet) {
        padding: 1rem;
      }
    }
  }
}