.a-input-text {
  $this: &;
  padding: 0;
  &_theme {
    &_user {
      #{$this}__input {
        padding: .5rem 1rem;
        text-align: center;
        border-bottom: 2px solid #cdcdcd;
        font-weight: 700;
        font-size: 1.6rem;
        &::placeholder {
          color: $color-grey-dark;
          text-transform: uppercase;
          font-weight: normal;
        }
      }
    }
    &_admin {
      #{$this}__input {
        padding: .5rem 1.5rem;
        border: .1rem solid $color-grey-middle;
        border-radius: .5rem;
        font-size: 2rem;
        &::placeholder {
          color: inherit;
        }
      }
    }
  }
  &_has-error {
    &_true {
      #{$this}__input {
        border-color: $color-red;
      }
    }
  }

  &__input {
	box-sizing: border-box;
    display: block;
    width: 100%;
    color: $color-blue-dark;
    transition: color, border, .3s linear;
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      font-size: inherit;
      transition: color .3s linear;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
    }
  }

  &__error {
    display: inline-block;
    margin-top: .5rem;
    font-size: 1.2rem;
    color: $color-red;
  }
}