.m-article-card {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  &__image {
    flex: 0 0 35rem;
    margin-right: 3rem;
    height: 20rem;
    object-fit: cover;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__text {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
    color: $color-gray-text;
  }
}